@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    outline: none;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.inputcard-2 {
    display: none;
}

.mt-50 {
    margin-top: 50px;
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -12px;
    margin-right: -12px;
}

.main-name {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 54px;
    color: black;
}

.Jhone {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #666666;
}

.w-100 {
    width: 100%;
}

.border {

    height: 43px;
    border-radius: 25.5px;
    border: 1px solid #CCCCCC;
    overflow: hidden;
}

.most {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #636363;

}

.flex-wrap {
    flex-wrap: wrap;
}

.both-btn {
    width: 195px;
    height: 35px;
    border-radius: 25.5px;
    cursor: pointer;
    background-color: #DFDFDF;
    color: #636363;

}

.overflow {
    overflow-x: scroll;
    padding-bottom: 20px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.w-1320 {
    width: 1320px;
}

.f-direction-r {
    flex-direction: row;
}

.pb-5 {
    padding-bottom: 5px;
}

.border-2 {
    width: 195px;
    height: 143px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    flex-direction: column;
}

.f-direction-c {
    flex-direction: column;
}

.both-btn:hover {
    background-color: black;
    color: white;
}

.radio {
    display: none;
}


.gap14 {
    gap: 14px;
}

.suggestion {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #636363;
    margin-top: 39px;
}

.pt-50 {
    padding-top: 50px;
}

.follow {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #1A9FFF;
}

.pb-15 {
    padding-bottom: 15px;
}

.name {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #000000;
}

.Post {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #75C5FF;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cursor-p {
    cursor: pointer;
}

.Search-2 {
    width: 70%;
    /* height: 43px; */
    /* border-radius: 25.5px; */
    border: 0px;
    padding-left: 14px;
}

.mb-33 {
    margin-bottom: 33px;
}

.pt-20 {
    padding-top: 20px;
}

.maincard {
    border: 1px solid #CCCCCC;
    padding: 30px;
    background-color: white;
    margin-top: 24px;
}

.p-20 {
    padding: 20px;
}

.bg-gray {
    background-color: #F8F8F8;
}



.gap17 {
    gap: 17px;
}

.inputcard {
    width: 315px;
    height: 43px;
    border-radius: 25.5px;
    border: 1px solid #00000033;

}

.Search {
    outline: none;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #666666;
}

.gap-8 {
    gap: 8px;
}

.ml15 {
    margin-left: 15px;
}


.d-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.pr20 {
    padding-right: 20px;
}

.img-border {
    border: 1px solid #0000001A;
    background-color: #FAFAFA;
}

.mt-24 {
    margin-top: 24px;
}

.align-item {
    align-items: center;
}

.nav-links {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: black;
}

.gap-30 {
    gap: 30px;
}

.justify-between {
    justify-content: space-between;
}

.menuicon {
    display: flex;
    position: relative;
    z-index: 10;
}

.nav {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menulist {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: -100%;
    top: 0;
    transition: all 300ms linear;
    background-color: white;
    position: fixed;
    z-index: 2;
}

.showlist {
    right: 0%;
}


.Filters {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #636363;
    padding-bottom: 10px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-8 {
    width: 66.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.black-box {
    width: 21px;
    height: 22px;
    border-radius: 50%;
    background-color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;

}

.dot-right {
    left: auto;
    right: 0%;
}


.blanck-div {
    width: 40px;
    height: 23px;
    border-radius: 11.5px;
    background-color: #F0F0F0;
    border: 1px solid #00000033;
    position: relative;


}

.bg-blue {
    background-color: #1A9FFF;
}

.pl-40 {
    padding-left: 40px;
}

.mail {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #636363;
    padding-top: 42px;
}

.nav-img {
    width: 26%;
}

.pr-14 {
    padding-right: 14px;
}

.c-reverse {
    flex-direction: column-reverse;
}

.three-line {
    display: flex;
}

.header {
    position: fixed;
    width: 100%;
    background-color: white;
    color: white;
    box-shadow: 0px 4px 35px 0px #00000014;
}

.inputcard {
    display: none;
}

.gap-21 {
    gap: 21px;
}

/* 
.lens {
    padding-left: 5px;
} */

.logo {
    width: 20%;
    height: 43%;
}


.inputcard {
    display: none;
}

.pb-46 {
    padding-bottom: 46px;
}





@media (min-width:576px) {

    .nav-links {
        display: flex;
    }

    .gap-20 {
        gap: 20px;
    }



    .blanck-div {
        margin-left: 25px;
        margin-right: 25px;
    }

    .main-name {
        font-size: 36px;
    }



}

@media (min-width:768px) {
    .logo {
        padding-left: 0px;
    }

}

@media (min-width:992px) {
    .col-lg-8 {
        width: 66.66%;
        padding-left: 12px;
        padding-right: 12px;

    }

    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .menuicon {
        display: none;
    }

    .f-direction-r-lg {
        flex-direction: row;
    }

    .f-direction-c-lg {
        flex-direction: column;
    }

    .w-100 {
        width: 100%;
    }

    .border-2 {
        border: 0;
        flex-direction: row;
        padding: 0;
        height: fit-content;
    }

    .w-60 {
        width: 60%;
    }

    .nav-img {
        width: 8%;
    }

    .inputcard {
        display: flex;
    }

    .lens {
        display: none;
    }

    .menulist {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        right: 0%;
        top: 0;
        transition: all 300ms linear;
        background-color: transparent;
        position: relative;
        z-index: 2;
    }

    .three-line {
        display: none;
    }

    .both-btn {
        width: fit-content;
        height: fit-content;
        border-radius: 0px;
        cursor: pointer;
        background-color: transparent;
        color: #636363;

    }

    .radio {
        display: flex;
    }

    .both-btn:hover {
        background-color: transparent;
        color: #666666;
    }

    .pb-70 {
        padding-bottom: 70px;
    }

    .form {
        flex-direction: column;
    }

    .overflow {
        overflow-x: hidden;
        padding-bottom: 0px;
    }
}